.container {
    margin: auto;
    margin-top: 130px;
    height: 250px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 10px solid grey;
}

.ampm {
    margin-left: 20px;
}

h1 {
    color: red;
    font-size: 80px;
}